body {
	font-family: "poopins", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 100px;
}

h1 {
	color: red;
	font-size: 55px;
}

/* COLORS */
.bg-dark-red {
	background-color: rgb(153, 0, 0);
}
.bg-green {
	background-color: green;
}
.bg-yellow {
	background-color: yellow;
}

/* POKEDEX */
.pokedex {
	height: 570px;
	width: 500px;
	max-width: 100%;
	border: 3px solid black;
}

.poke-div-main {
	background: #e71d23;
	height: 100%;
	width: 100%;
}

.top-container {
	height: 50px;
	border-bottom: 3px solid black;
}

.poke-screen-container {
	height: calc(100% - 50px);
	display: flex;
}

.poke-screen-main {
	height: 100%;
	width: 444px;
	padding: 25px;
	flex-grow: 1;
}

.poke-div-grey {
	background: #dedede;
	border: 3px solid black;
	box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.3);
	height: 350px;
}

.poke-div-black {
	background: black;
	height: calc(100% - 50px);
	width: calc(100% - 50px);
	margin: 25px;
	padding: 10px;
}

.poke-screen {
	border-radius: 15px;
	height: 100%;
	padding: 15px;
	background: wheat;
}

.hinge-container {
	height: 100%;
	width: 50px;
	border-left: 3px solid black;
	background-color: darkred;
}

.poke-screen-top {
	font-size: 25px;
}

.poke-stats {
	background: rgba(0, 0, 0, 0.3);
	color: white;
}

/* CIRCLES */
.blue-circle {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: radial-gradient(farthest-corner at 10px 10px, white, #369cd4, #369cd4);
	border: 2px solid white;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
}

.small-circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid black;
}

/* BUTTONS */
button:focus {
	outline: 0 !important;
}

.poke-btn {
	height: 85px;
	width: 85px;
	background-color: black;
	border: none;
}

.play-button {
	color: white;
}
.dpad {
	color: black;
}
.search {
	padding-left: 90px;
}
.search-bar {
	margin-left: 20px;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
	.pokedex {
		width: 100%;
		height: auto;
	}
	.poke-screen-main {
		width: 100%;
		padding: 10px;
	}
	h1 {
		font-size: 55px;
	}
	.poke-screen-top {
		font-size: 20px;
	}
	.poke-btn {
		height: 80px;
		width: 80px;
	}
	.blue-circle {
		width: 20px;
		height: 20px;
	}
	.small-circle {
		width: 5px;
		height: 5px;
	}
}

@media (max-width: 400px) {
	body {
		margin-top: 50px;
	}
	h1 {
		font-size: 25px;
	}
	.poke-screen-top {
		font-size: 16px;
	}
}
